<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Tel-Aviv Weather&News</title>
  </head>
  <body>

  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Welcome to Tel-Aviv Weather & News</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="today" style="color:white;">                        
            <script> document.write(new Date().toLocaleDateString()); </script>
        </li>
      </ul>
</nav>

  </div>




<div class="container">
    <img class="img-fluid" src="/images/TelAviv.jpg" width="100%">
</div>


  <div class="container">
  <div class="row md-12">
    <div class="col-md-12 text-center">
      <div class="card">
       <h1 class="card-title">Weather Forecast</h1>
        <img src="/images/sun.png" class="card-img-top" alt="..." >
        <div class="card-body">
        
          <div style="width:100%">
          <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">Max Temp (celcius)</th>
                    <th scope="col">Description</th>

                    
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Today</th>
                <td><%=@CurrentTemp%></td>
                <td><%= @CurrentWeather%></td>
                </tr>

                <% for num in @NextWeek %>
                    <tr>
                    <th scope="row"><%= num["date"]%></th>
                    <td><%= num["maxtemp"]%></td>
                    <td><%= num["dailyweather"]%></td>
                    </tr>
                    <tr>
                <% end %>

            </tbody>
            </table>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>


<div class="container">
    <div class="row md-12">
        <div class="col-md-12 text-center">
            <div class="card">
                <h1 class="card-title">Business News</h1>
                <h6 class="card-title">Top Headlines</h6>
                <img src="/images/news.png" class="card-img-top" alt="...">
                <div class="container">

                <% for story in @topnews %>
                    <div class="card" style="width:100%;">
                    <img src="<%=story["image"]%>" class="card-img" onerror="this.onerror=null;this.src='/images/news.png';" >
                    <div class="card-body">
                    <h3 class="card-title"><%=story["title"]%></h3>
                    <p class="card-text"><%=story["description"]%></p>
                    <a href="<%=story["article_link"]%>" class="btn btn-primary">Link to the full story</a>
                    </div>
                    </div>
                <% end %>

                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>